version: '3.8'

services:
  app:
    build: .
    container_name: nest_app
    restart: always
    depends_on:
      - database
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@database:5432/nestdb
    ports:
      - '4000:4000'
    volumes:
      - ./images:/app/images

  database:
    image: pgvector/pgvector:pg16
    container_name: nest_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nestdb
    ports:
      - '5432:5432'

volumes:
  pgdata:
